---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/scripts/tokenization/tokens
    body:
      encoding: UTF-8
      string: '{"number":"4504481742333","expiry_month":"12","expiry_year":"18","cvd":"123"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":"a02-1e644205-9cef-4fb4-b00c-41ab7627333c","code":1,"version":1,"message":""}'
  recorded_at: Wed, 15 Aug 2018 18:06:06 GMT
recorded_with: VCR 4.0.0
