---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/payments/10000006/completions
    body:
      encoding: UTF-8
      string: '{"amount":"3.37","payment_method":"card","order_number":"9842594816","billing":{"name":"Marty
        Armstrong","address_line1":"1407 Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"shipping":{"name":"Melissa Walsh","address_line1":"1407
        Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"card":{"number":"4504481742333","name":"Alec
        Moore","expiry_month":"12","expiry_year":"18","cvd":"123"}}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"10000013","authorizing_merchant_id":300205948,"approved":"1","message_id":"1","message":"Approved","auth_code":"TEST","created":"2018-08-13T11:15:24","order_number":"9842594816","type":"PAC","payment_method":"CC","risk_score":0.0,"amount":3.37,"custom":{"ref1":"","ref2":"","ref3":"","ref4":"","ref5":""},"card":{"card_type":"VI","address_match":0,"postal_result":0,"avs_result":"0","cvd_result":"1","cavv_result":"
        ","avs":{"id":"U","message":"Address information is unavailable.","processed":false}},"links":[{"rel":"return","href":"https://api.na.bambora.com/v1/payments/10000013/returns","method":"POST"},{"rel":"complete","href":"https://api.na.bambora.com/v1/payments/10000013/completions","method":"POST"}]}'
  recorded_at: Mon, 13 Aug 2018 15:15:24 GMT
recorded_with: VCR 4.0.0
