---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/payments
    body:
      encoding: UTF-8
      string: '{"amount":"4.64","payment_method":"card","order_number":"2399312623","billing":{"name":"Kirsten
        Olson","address_line1":"1407 Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"shipping":{"name":"Tricia Rohan","address_line1":"1407
        Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"card":{"number":"4003050500040005","name":"Esperanza
        Abbott","expiry_month":"12","expiry_year":"18","cvd":"123"}}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":7,"category":1,"message":"DECLINE","reference":""}'
  recorded_at: Mon, 13 Aug 2018 15:15:22 GMT
recorded_with: VCR 4.0.0
