---
http_interactions:
- request:
    method: get
    uri: https://api.na.bambora.com/v1/payments/10000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":10000001,"authorizing_merchant_id":300205948,"approved":1,"message_id":1,"message":"Approved","auth_code":"TEST","created":"2018-08-12T16:32:20.816-04:00","amount":42.91,"order_number":"3728187489","type":"P","comments":"","batch_number":"0223","total_refunds":1.0,"total_completions":1.0,"payment_method":"CC","card":{"name":"Carletta
        Gleichner","expiry_month":"12","expiry_year":"18","card_type":"VI","last_four":"2333","avs_result":"Y","cvd_result":"1","cavv_result":""},"billing":{"name":"Beverley
        Reilly","address_line1":"1407 Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"shipping":{"name":"Dulcie Rosenbaum","address_line1":"1407
        Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"custom":{"ref1":"","ref2":"","ref3":"","ref4":"","ref5":""},"adjusted_by":[{"id":10000010,"type":"R","approval":1,"message":"Approved","amount":1.00,"created":"2018-08-13T11:15:22.359-04:00","url":"https://api.na.bambora.com/v1/payments/10000010"},{"id":10000003,"type":"R","approval":1,"message":"Approved","amount":1.00,"created":"2018-08-12T19:39:43.084-04:00","url":"https://api.na.bambora.com/v1/payments/10000003"}],"links":[{"rel":"void","href":"https://api.na.bambora.com/v1/payments/10000001/void","method":"POST"},{"rel":"return","href":"https://api.na.bambora.com/v1/payments/10000001/returns","method":"POST"}]}'
  recorded_at: Mon, 13 Aug 2018 15:15:25 GMT
recorded_with: VCR 4.0.0
