---
http_interactions:
- request:
    method: get
    uri: https://api.na.bambora.com/v1/payments/10000030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":10000030,"authorizing_merchant_id":300205948,"approved":1,"message_id":1,"message":"Approved","auth_code":"TEST","created":"2018-08-13T15:50:15.512-04:00","amount":97.94,"order_number":"4864586503","type":"P","comments":"","batch_number":"0224","total_refunds":0.0,"total_completions":0.0,"payment_method":"CC","card":{"name":"Casimira
        Wisozk","expiry_month":"12","expiry_year":"18","card_type":"VI","last_four":"2333","avs_result":"Y","cvd_result":"1","cavv_result":""},"billing":{"name":"Luana
        Roob","address_line1":"1407 Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"shipping":{"name":"Roberto Kuvalis","address_line1":"1407
        Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"custom":{"ref1":"","ref2":"","ref3":"","ref4":"","ref5":""},"adjusted_by":[],"links":[{"rel":"void","href":"https://api.na.bambora.com/v1/payments/10000030/void","method":"POST"},{"rel":"return","href":"https://api.na.bambora.com/v1/payments/10000030/returns","method":"POST"}]}'
  recorded_at: Mon, 13 Aug 2018 19:50:16 GMT
recorded_with: VCR 4.0.0
