---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/payments/12345/returns
    body:
      encoding: UTF-8
      string: '{"amount":10.0,"order_number":"8961375210"}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":314,"category":3,"message":"Missing or invalid payment information
        - Please validate all required payment information.","reference":"","details":[{"field":"adjId","message":"Invalid
        adjustment id"}]}'
  recorded_at: Thu, 23 Aug 2018 20:47:10 GMT
recorded_with: VCR 4.0.0
