---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/payments/10000016/void
    body:
      encoding: UTF-8
      string: '{"amount":5.0,"order_number":"1807479688"}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"10000017","authorizing_merchant_id":300205948,"approved":"1","message_id":"1","message":"Approved","auth_code":"TEST","created":"2018-08-13T12:07:22","order_number":"1807479688","type":"VP","payment_method":"CC","risk_score":0.0,"amount":5.00,"custom":{"ref1":"","ref2":"","ref3":"","ref4":"","ref5":""},"card":{"card_type":"VI","address_match":0,"postal_result":0,"avs_result":"0","cvd_result":"1","cavv_result":"
        ","avs":{"id":"U","message":"Address information is unavailable.","processed":false}}}'
  recorded_at: Mon, 13 Aug 2018 16:07:22 GMT
recorded_with: VCR 4.0.0
