---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/reports
    body:
      encoding: UTF-8
      string: '{"name":"TransHistoryMinimal","start_date":"2018-08-13T00:00:00","end_date":"2018-08-13T23:59:59","start_row":1,"end_row":2,"criteria":[{"field":2,"operator":"%3D","value":10.0}]}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OmRDRDAzMjBlRjY0NTQ1MkY4Mjg1ODlGMGU0M0I0MjI0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"records":[]}'
  recorded_at: Mon, 13 Aug 2018 22:23:42 GMT
recorded_with: VCR 4.0.0
