---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/profiles
    body:
      encoding: UTF-8
      string: '{"billing":null,"validate":null,"card":{"number":"4504481742333","name":"John
        Smith","expiry_month":"12","expiry_year":"18","cvd":"123"}}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OjFjMUVhMTEwYmQ4RjQwMmE4YUYyQmIzZDBiMzJCRDdi
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":1,"message":"Operation Successful","customer_code":"C3e6F7240A6a4Fe09fe2FE08C4f93555"}'
  recorded_at: Thu, 16 Aug 2018 17:12:51 GMT
recorded_with: VCR 4.0.0
