---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/profiles
    body:
      encoding: UTF-8
      string: '{"billing":null,"validate":null,"token":{"name":"Alice Smith","code":"a13-444bb336-c48a-4966-91bf-f8a9262c1f48"}}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OjFjMUVhMTEwYmQ4RjQwMmE4YUYyQmIzZDBiMzJCRDdi
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":1,"message":"Operation Successful","customer_code":"8303CEFeAB604313bA3Db8E6860Cc20D"}'
  recorded_at: Thu, 16 Aug 2018 19:42:12 GMT
recorded_with: VCR 4.0.0
