---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/scripts/tokenization/tokens
    body:
      encoding: UTF-8
      string: '{"number":"5100000010001004","expiry_month":"12","expiry_year":"18","cvd":"123"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":"a13-444bb336-c48a-4966-91bf-f8a9262c1f48","code":1,"version":1,"message":""}'
  recorded_at: Thu, 16 Aug 2018 19:42:11 GMT
recorded_with: VCR 4.0.0
