---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/payments
    body:
      encoding: UTF-8
      string: '{"amount":"79.40","payment_method":"card","order_number":"8904708644","billing":{"name":"Kathryn
        Volkman","address_line1":"1407 Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"shipping":{"name":"Nicolas Jacobi","address_line1":"1407
        Graymalkin Lane","address_line2":"","city":"Gatineau","province":"QC","country":"CA","postal_code":"111
        111","phone_number":"","email_address":""},"card":{"number":"4504481742333","name":"Noella
        Kozey","expiry_month":"12","expiry_year":"18","cvd":"123","complete":false}}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"10000006","authorizing_merchant_id":300205948,"approved":"1","message_id":"1","message":"Approved","auth_code":"TEST","created":"2018-08-12T20:39:34","order_number":"8904708644","type":"PA","payment_method":"CC","risk_score":0.0,"amount":79.40,"custom":{"ref1":"","ref2":"","ref3":"","ref4":"","ref5":""},"card":{"card_type":"VI","last_four":"2333","address_match":1,"postal_result":1,"avs_result":"1","cvd_result":"1","avs":{"id":"Y","message":"Street
        address and Postal/ZIP match.","processed":true}},"links":[{"rel":"complete","href":"https://api.na.bambora.com/v1/payments/10000006/completions","method":"POST"}]}'
  recorded_at: Mon, 13 Aug 2018 00:39:35 GMT
recorded_with: VCR 4.0.0
