---
http_interactions:
- request:
    method: post
    uri: https://api.na.bambora.com/v1/payments/10000003/void
    body:
      encoding: UTF-8
      string: '{"amount":1.0,"order_number":"7708044544"}'
    headers:
      Authorization:
      - Passcode MzAwMjA1OTQ4OkQ1NTQ0RTAzOUZFYzRjYjliOGJFYzE4RjY5YTA0ZjQw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"10000004","authorizing_merchant_id":300205948,"approved":"1","message_id":"1","message":"Approved","auth_code":"TEST","created":"2018-08-12T20:02:07","order_number":"7708044544","type":"VR","payment_method":"CC","risk_score":0.0,"amount":1.00,"custom":{"ref1":"","ref2":"","ref3":"","ref4":"","ref5":""},"card":{"card_type":"VI","address_match":0,"postal_result":0,"avs_result":"0","cvd_result":"5","cavv_result":"
        ","avs":{"id":"U","message":"Address information is unavailable.","processed":false}}}'
  recorded_at: Mon, 13 Aug 2018 00:02:07 GMT
recorded_with: VCR 4.0.0
